.example-spacer {
  flex: 1 1 auto;
}

.toolbar {
  box-shadow: 0 0 10px 10px #ffffff;
}

.image-background {
  margin: 5px;
}

.addNewBookButtonStyle {
  color: #aebece;
  display: flex;
  margin-right: 35px;
}

.image-background:hover, .addNewBookButtonStyle:hover {
  color: azure;
  cursor: pointer;
  border-radius: 20%;
  opacity: 0.8;
}

.headerTextStyle {
  color: #E1EEF7;
  margin-right: 15px;
}

.headerTextButtonStyle {
  margin-right: 10px;
  padding: 5px;

}

.headerTextButtonStyle:hover {
  color: #416BBA;
  cursor: pointer;
  border-radius: 30%;
  background: azure;
  opacity: 0.7;
  padding: 5px;
}

.modalLabelAuthor, .modalLabelGenre, .modalLabelImageUrl, .modalLabelISBN, .modalLabelIndex,
.modalLabelOriginalLanguage, .modalLabelPublishingHouse, .modalLabelPageSize, .modalLabelReleaseDate, .modalLabelPrice {
  margin-top: 10px;
}
