  <mat-toolbar class="toolbar" style="background-color: #416BBA">
    <mat-toolbar-row>
      <span class="headerTextStyle" style="font-size: 35px; font-weight: bold">My awesome books shop!</span>
      <span class="example-spacer "></span>
      <span class="headerTextStyle">What are you looking for?:</span>
      <form class="form-inline my-2 my-lg-0">
        <input type="search" (ngModelChange)="searchBooks(key.value)" #key="ngModel" ngModel
               name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search books..." required>
      </form>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <div>
        <span class="headerTextStyle">Best books in best prices!</span>
        <br>
        <span class="headerTextStyle">Only in our shop!</span>
      </div>
      <span class="example-spacer"></span>
      <div class="addNewBookButtonStyle" style="display: flex; margin-right: 35px" (click)="onOpenModal()">
        <mat-icon class="image-background" aria-hidden="false">add_box</mat-icon>Add new book
      </div>
     </mat-toolbar-row>
  </mat-toolbar>
 <div class="container-fluid" id="main-container">
  <app-book-table [booksFromParent]="books" [flagFromParent]="isVisible">></app-book-table>
 </div>

  <div class="modal fade" id="addBookModal" tabindex="-1" role="dialog" aria-labelledby="addBookModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="addBookModalLabel">New book adding form</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddBook(addForm)">
            <div class="form-group">
              <label class="modalLabelTitle" for="title">Book title: </label>
              <input class="col-sm-12 form-control" ngModel placeholder="title" name="title" id="title" type="text" required="required">
            </div>
            <div class="form-group">
              <label class="modalLabelAuthor" for="author">Author of book: </label>
              <input class="col-sm-12 form-control" ngModel placeholder="author" name="author" id="author" type="text" required="required">
            </div>
            <div class="form-group">
              <label class="modalLabelPrice" for="price">The price of the book: </label>
              <input class="col-sm-12 form-control" ngModel placeholder="price" name="price" id="price" type="number" required="required">
            </div>
            <div class="form-group">
              <label class="modalLabelISBN" for="ISBN">Book ISBN: </label>
              <input class="col-sm-12 form-control" ngModel placeholder="ISBN" name="ISBN" id="ISBN" type="text" required="required">
            </div>
            <div class="form-group">
              <label class="modalLabelGenre" for="genre">Book genre: </label>
              <input class="col-sm-12 form-control" ngModel placeholder="genre" name="genre" id="genre" type="text" required="required">
            </div>
            <div class="form-group">
              <label class="modalLabelPageSize" for="pageSize">Number of pages of the book: </label>
              <input class="col-sm-12 form-control" ngModel placeholder="pageSize" name="pageSize" id="pageSize" type="number">
            </div>
            <div class="form-group">
              <label class="modalLabelPublishingHouse" for="publishingHouse">Name of the book publishing house: </label>
              <input class="col-sm-12 form-control" ngModel placeholder="publishingHouse" name="publishingHouse" id="publishingHouse" type="text">
            </div>
            <div class="form-group">
              <label class="modalLabelReleaseDate" for="releaseDate">Date of publication of the book: </label>
              <input class="col-sm-12 form-control" ngModel placeholder="releaseDate" name="releaseDate" id="releaseDate" type="text">
            </div>
            <div class="form-group">
              <label class="modalLabelIndex" for="index">Book index: </label>
              <input class="col-sm-12 form-control" ngModel placeholder="index" name="index" id="index" type="number">
            </div>
            <div class="form-group">
              <label class="modalLabelOriginalLanguage" for="originalLanguage">The language of the book: </label>
              <input class="col-sm-12 form-control" ngModel placeholder="originalLanguage" name="originalLanguage" id="originalLanguage" type="text">
            </div>
            <div class="form-group">
              <label class="modalLabelImageUrl" for="imageUrl">URL with a picture of the book: </label>
              <input class="col-sm-12 form-control" ngModel placeholder="imageUrl" name="imageUrl" id="imageUrl" type="text">
            </div>
          <div class="modal-footer">
            <button type="button" id="addBookFormButtonClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Add new book</button>
          </div>
            </form>
        </div>
      </div>
    </div>
  </div>


