<div class="container">
  <form #loginForm="ngForm" (ngSubmit)="loginUser()">
    <div class="form-group">
      <h1 class="loginLabel" style="color: #d9cf32">Login Panel</h1>
      <p style="color: #E1EEF7">Please fill in this form to sign in.</p>
      <hr class="hrStyle">

        <label style="color: #E1EEF7">Email:</label>
        <input type="email" class="form-control" placeholder="Enter email" name="email" [(ngModel)]="user.email" required pattern="^\S+@\S+\.\S+$"
               #email="ngModel" [class.is-invalid]="email.invalid && email.touched">
        <div *ngIf="email.errors && (email.invalid && email.touched)">
          <small class="text-danger" *ngIf="email.errors.required">Email is required!</small>
          <small class="text-danger" *ngIf="email.errors.pattern">Email pattern is invalid!</small>
        </div>
       <label class="loginLabel">Password:</label>
        <input type="password" class="form-control" placeholder="Enter password" name="pwd" [(ngModel)]="user.password" required #password="ngModel"
               [class.is-invalid]="password.invalid && password.touched">
        <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required!</small>
        <br>
        <small class="text-danger">{{msg}}</small>
      <hr class="hrStyle">
      <br>
      <button [disabled]="loginForm.form.invalid" type="submit" class="bookButtonsStyle">Login</button>
    </div>
      <div>
      <p style="color: #E1EEF7; margin-left: 15px">Not registered yet? <a class="signUpStyle" (click)="goToRegisterFun()">Sign up</a>.</p>
    </div>
  </form>
</div>

<div class="modal fade" id="loginSuccessModal" tabindex="-1" role="dialog" aria-labelledby="loginSuccessModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginSuccessModelLabel">Account created!</h5>
        <button type="button" (click)="loginSuccess()"
                class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Your account have been created successfully!</p>
        <div class="modal-footer">
          <button type="button" (click)="loginSuccess()" class="btn btn-success" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>


