.bookButtonsStyle {
  box-shadow: 0 10px 10px -5px #123146;
  background: #bbbbbb linear-gradient(to bottom, #416BBA 5%, #ea981c 100%);
  border-radius:8px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  width: 110px;
  height: 40px;
  font-family: Arial, serif;
  font-size:12px;
  font-weight:bold;
  text-decoration:none;
  text-shadow:0 1px 0 #3d768a;
  margin-bottom: 13px;
  margin-left: 40px;
}
.bookButtonsStyle:hover {
  background: #408c99 linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
}
.bookButtonsStyle:active {
  position:relative;
  top:1px;
}

.loginLabel {
  margin-top: 15px;
  color: #E1EEF7;
}

.hrStyle {
  background-color: #E1EEF7;
}

.signUpStyle {
  color: #b72828 !important;
}

.signUpStyle:hover {
  color: azure;
  cursor: pointer;
  opacity: 0.5;
}
