  <div  class="row">
    <div class="col-sm-2 loginTableStyle" style="margin: 50px">
      <div class="container-fluid" id="main-container">
        <app-login-panel *ngIf="loginFormFlag && !successLoginFlag" (goToRegister)="flagChangedHandler($event)" (goToUserPanel)="isLogged($event)" (sendLoggedUser)="setUser($event)"></app-login-panel>
        <app-register-panel *ngIf="!loginFormFlag && !successLoginFlag" (goToLogin)="flagChangedHandler($event)"></app-register-panel>
        <app-user-panel *ngIf="successLoginFlag" [currentUser]="user" (goToLoginFromUserPanel)="isLogged(!$event)"></app-user-panel>
      </div>
    </div>

    <div class="col-sm" style="margin: 50px">
      <table class="col-sm-24 sortTable" matSort (matSortChange)="sortData($event)">
        <tr>
          <th class="col-sm-4 titleSort"  mat-sort-header="title">Title: </th>
          <th class="col-sm-1 genreSort"  mat-sort-header="genre">Genre: </th>
          <th class="col-sm-2 releaseDateSort"  mat-sort-header="releaseDate">Release Date: </th>
          <th class="col-sm-1 originalLanguageSort"  mat-sort-header="originalLanguage">Original Language: </th>
          <th class="col-sm-4 priceSort"  mat-sort-header="price">Price: </th>
        </tr>
      </table>
      <div class="row col-sm-24 bookTableStyle" style="position: relative" *ngFor="let book of booksFromParent | paginate: {
                                                      itemsPerPage: 5,
                                                      currentPage: page,
                                                      totalItems: totalLength }">
        <div role="cell" class="col-sm-1 bookImageStyle"><img src="{{book.imageUrl}}" style="width: 5rem; border-radius:8px" alt="{{book.title}}" ></div>
        <div role="cell" class="col-sm-3 bookTitleStyle">{{book.title}}</div>
        <div role="cell" class="col-sm-2 bookGenreStyle">{{book.genre}}</div>
        <div role="cell" class="col-sm-2 bookDateStyle">{{book.releaseDate}}</div>
        <div role="cell" class="col-sm-1 bookLanguageStyle">{{book.originalLanguage}}</div>
        <div role="cell" class="col-sm-1 bookLanguageStyle">{{book.price}} zł</div>
        <div role="cell" class="col-sm-1 row" style="display: block; position: center; margin-left: 50px">
          <div style="position: absolute"><button (click)="checkUser(book,user)" class="bookButtonsStyle">Add to cart</button></div>
          <div style="position: absolute; margin-top: 60px"><button (click)="onOpenModal(book,'edit')" class="bookButtonsStyle">Show more info</button></div>
        </div>
      </div>
      <div class="paginationStyle">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
  </div>

  <div class="modal fade" id="showMoreInfoBookModal" tabindex="-1" role="dialog" aria-labelledby="showMoreInfoBookModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="showMoreInfoBookModalLabel">Preview information of book: "{{editBook?.title}}"</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #showMoreInfoForm="ngForm">
            <div class="form-group">
              <label class="modalLabelTitle" for="title">Book title: </label>
              <input class="col-sm-12 form-control" [disabled]="!isEnabled"  ngModel="{{editBook?.title}}" placeholder="title" name="title" id="title" type="text" value="{{editBook?.title}}" required="required">
            </div>
            <div class="form-group">
              <label class="modalLabelAuthor" for="author">Author of book: </label>
              <input class="col-sm-12 form-control" [disabled]="!isEnabled"  ngModel="{{editBook?.author}}" placeholder="author" name="author" id="author" type="text" value="{{editBook?.author}}" required="required">
            </div>
            <div class="form-group">
              <label class="modalLabelPrice" for="price">The price of the book: </label>
              <input class="col-sm-12 form-control" [disabled]="!isEnabled" ngModel="{{editBook?.price}}" placeholder="price" name="price" id="price" type="number" value="{{editBook?.price}}" required="required">
            </div>
            <div class="form-group">
              <label class="modalLabelISBN" for="ISBN">Book ISBN: </label>
              <input class="col-sm-12 form-control" [disabled]="!isEnabled" ngModel="{{editBook?.ISBN}}" placeholder="ISBN" name="ISBN" id="ISBN" type="text" value="{{editBook?.ISBN}}" required="required">
            </div>
            <div class="form-group">
              <label class="modalLabelGenre" for="genre">Book genre: </label>
              <input class="col-sm-12 form-control" [disabled]="!isEnabled" ngModel="{{editBook?.genre}}" placeholder="genre" name="genre" id="genre" type="text" value="{{editBook?.genre}}" required="required">
            </div>
            <div class="form-group">
              <label class="modalLabelPageSize" for="pageSize">Number of pages of the book: </label>
              <input class="col-sm-12 form-control" [disabled]="!isEnabled" ngModel="{{editBook?.pageSize}}" placeholder="pageSize" name="pageSize" id="pageSize" value="{{editBook?.pageSize}}" type="number">
            </div>
            <div class="form-group">
              <label class="modalLabelPublishingHouse" for="publishingHouse">Name of the book publishing house: </label>
              <input class="col-sm-12 form-control" [disabled]="!isEnabled" ngModel="{{editBook?.publishingHouse}}" placeholder="publishingHouse" name="publishingHouse" id="publishingHouse" value="{{editBook?.publishingHouse}}" type="text">
            </div>
            <div class="form-group">
              <label class="modalLabelReleaseDate" for="releaseDate">Date of publication of the book: </label>
              <input class="col-sm-12 form-control" [disabled]="!isEnabled" ngModel="{{editBook?.releaseDate}}" placeholder="releaseDate" name="releaseDate" id="releaseDate" value="{{editBook?.releaseDate}}" type="text">
            </div>
            <div class="form-group">
              <label class="modalLabelIndex" for="index">Book index: </label>
              <input class="col-sm-12 form-control" [disabled]="!isEnabled" ngModel="{{editBook?.index}}" placeholder="index" name="index" id="index" value="{{editBook?.index}}" type="number">
            </div>
            <div class="form-group">
              <label class="modalLabelOriginalLanguage" for="originalLanguage">The language of the book: </label>
              <input class="col-sm-12 form-control" [disabled]="!isEnabled" ngModel="{{editBook?.originalLanguage}}" placeholder="originalLanguage" name="originalLanguage" id="originalLanguage" value="{{editBook?.originalLanguage}}" type="text">
            </div>
            <div class="form-group">
              <label class="modalLabelImageUrl" for="imageUrl">URL with a picture of the book: </label>
              <input class="col-sm-12 form-control" [disabled]="!isEnabled" ngModel="{{editBook?.imageUrl}}" placeholder="imageUrl" name="imageUrl" id="imageUrl" value="{{editBook?.imageUrl}}" type="text">
            </div>
            <div class="form-group">
              <input class="col-sm-12 form-control" style="visibility: hidden" ngModel="{{editBook?.id}}"  placeholder="id" name="id" id="id" type="text" value="{{editBook?.id}}" required="required">
            </div>
            <div class="modal-footer">
              <button *ngIf="isEnabled" (click)="onEditBook(showMoreInfoForm.form.value)"  type="submit" class="btn btn-primary" data-dismiss="modal">Save</button>
              <button type="submit" (click)="setFlag(counter)" class="btn btn-warning">{{title}}</button>
              <button type="submit" (click)="onOpenModal(showMoreInfoForm.form.value, 'delete')" class="btn btn-danger">Delete book</button>
              <button type="button" id="editBookFormButtonClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="deleteBookModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModelLabel">Delete Book</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete book {{deleteBook?.title}}?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button (click)="onDeleteBook(deleteBook.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="userNotLoggedBucket" tabindex="-1" role="dialog" aria-labelledby="userNotLoggedBucketModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="userNotLoggedBucketModelLabel">Your Bucket:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>You need to sign in, if you want to add this book to your cart!</p>
          <div class="modal-footer">
            <button class="btn btn-danger" data-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="userLoggedBucket" tabindex="-1" role="dialog" aria-labelledby="userLoggedBucketModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="userLoggedBucketModelLabel">Adding book</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>You added this book successful!</p>
          <div class="modal-footer">
            <button class="btn btn-success" data-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="bookExistsInCart" tabindex="-1" role="dialog" aria-labelledby="bookExistsInCartModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="bookExistsInCartModelLabel">Your Bucket:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>You have already added this book to your cart!</p>
          <div class="modal-footer">
            <button class="btn btn-danger" data-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="isDivVisible" class="col-md-5">
    <div class="alert" role="alert" id="no-books-alert">
      <h1 class="alert-heading">THERE IS NO BOOKS!</h1>
      <h2 class="alert-lower-heading">No books were found.</h2>
    </div>
  </div>
