.bookTableStyle {
  margin-top: 40px;
  padding: 10px;
  height: 150px;
  background-color: #3288c2;
  box-shadow: 0 0 10px 10px #A5CDE8;
  position: relative;
  border-radius:8px;
}

.loginTableStyle {
  margin-top: 30px;
  padding: 10px;
  height: 700px;
  background-color: #3288c2;
  box-shadow: 0 0 10px 10px #A5CDE8;
  position: relative;
  border-radius:8px;
}

.bookImageStyle {
  width: 5rem !important;
  margin-left: 20px;
}

.bookTitleStyle {
  font-size: 1.3em;
  font-weight: bold;
  margin-left: 10px;
}

.bookGenreStyle {
  text-align: center
}

.bookDateStyle {

}

.bookLanguageStyle {

}


.bookDateStyle, .bookGenreStyle, .bookImageStyle, .bookTitleStyle,
.bookLanguageStyle, .bookButtonsStyle {
  display: grid;
  align-items: center;
}

.bookButtonsStyle {
  box-shadow: 0 10px 10px -5px #123146;
  background: #3288c2 linear-gradient(to bottom, #416BBA 5%, #1cead9 100%);
  border-radius:8px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  width: 110px;
  height: 40px;
  font-family: Arial, serif;
  font-size:12px;
  font-weight:bold;
  text-decoration:none;
  text-shadow:0 1px 0 #3d768a;
  margin-top: 13px;
  margin-bottom: 3px;
}
.bookButtonsStyle:hover {
  background: #408c99 linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
}
.bookButtonsStyle:active {
  position:relative;
  top:1px;
}

.alert {
  margin-top: 30px;
  padding: 10px;
  height: 300px;
  width: 500px;
  background-color: #e04b07;
  box-shadow: 0 0 10px 10px #b72828;
  margin-left: 90%;
  position: relative;
}

.alert-heading {
  margin-left: 26%;
  margin-top: 20%;
  font-weight:bold;
}

.alert-lower-heading {
  opacity: 0.7;
  margin-left: 30%;
  margin-top: 1%;
}

.sortTable {
  background-color: #b1cff3;
  box-shadow: 0 0 10px 10px #A5CDE8;
  border-radius:20px;
}

.mat-sort-header-container {
  align-items: center;
}

.titleSort {
  padding-left: 120px;
}

.genreSort {
  padding-left: 160px;
}

.releaseDateSort {
  padding-left: 70px;
}

.originalLanguageSort {
  padding-left: 80px;
}

.priceSort {
  padding-left: 35px;
}

.paginationStyle {
  background-color: #205883;
  box-shadow: 0 0 10px 10px #A5CDE8;
  border-radius:20px;
  margin: 50px !important;
  /*width: 400px;*/
}
