.bookButtonsStyle {
  box-shadow: 0 10px 10px -5px #123146;
  background: #bbbbbb linear-gradient(to bottom, #416BBA 5%, #ea981c 100%);
  border-radius:8px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  width: 210px;
  height: 40px;
  font-family: Arial, serif;
  font-size:12px;
  font-weight:bold;
  text-decoration:none;
  text-shadow:0 1px 0 #3d768a;
  margin-bottom: 13px;
  margin-left: 20px;
}
.bookButtonsStyle:hover {
  background: #408c99 linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
}
.bookButtonsStyle:active {
  position:relative;
  top:1px;
}

.bucketEmptyStyle {
  margin-left: 35%;
  margin-top: 25%;
}

.tableHeadElementStyle {
  padding-left: 20px !important;
}

.tableBodyStyle {
}

.idTableElement {
  padding-left: 20px;
}

.imageTableElement {
  padding-left: 40px;
}

.titleTableElement {
  padding-left: 20px;
}

.priceTableElement {
  padding-left: 20px;
}

.countTableElement {
  padding-left: 25px;
}

.deleteTableElement {
  padding-left: 2rem;
}

.idTableElement, .imageTableElement, .titleTableElement, .priceTableElement, .deleteTableElement, .countTableElement {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.tableElementStyle {
}

.deleteIconTableElement {
  cursor: pointer;
}

.countTableElement {
  width: 1rem !important;
}

.tableStyle {
  width: 100%;
}

.tableStyle, .tableHeadStyle, .tableElementStyle {
  border: 2px solid #aebece;
}

.countBookInputStyle {
  text-align: right;
  width: 25px;
}

.hrStyle {
  margin-bottom: 25px;
}

.allUsersBoardStyle {
  padding: 10px;
  border: 2px solid #aebece;
  overflow-y: scroll;
  height: 100px;
  border-radius:8px;
  background-color: #E1EEF7;
}
