<h1 style="color: #E1EEF7; margin-top: 20px">Hi {{currentUser.username}}!</h1>
<p style="color: #E1EEF7; margin-left: 15px; margin-top: 20px">You're logged in Library Book Shop!</p>
<hr class="hrStyle">
<h3 style="color: #E1EEF7; margin-left: 65px">Your user panel:</h3>
<div style="display: flow; margin-top: 20px">
  <hr class="hrStyle">
  <div>
    <button type="submit" class="bookButtonsStyle" (click)="openDialog('openCart', currentUser)">Go to cart</button>
  </div>
  <hr class="hrStyle">
  <div>
    <button type="submit" class="bookButtonsStyle" (click)="openDialog( 'delete', currentUser)">Delete account</button>
  </div>
  <hr class="hrStyle">
  <div>
    <button type="submit" class="bookButtonsStyle" (click)="openDialog( 'logout', currentUser)">Log out</button>
  </div>
  <hr class="hrStyle">
</div>

<h3 style="color: #E1EEF7">All registered users:</h3>
<ul class="allUsersBoardStyle">
  <li *ngFor="let user of users" style="margin-bottom: 5px">
    - {{user.username}} (Email: {{user.email}}, Role: {{user.role}})
  </li>
</ul>

<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Delete User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete user {{currentUser?.username}}?</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button (click)="openDialog( 'success', currentUser)" class="btn btn-danger" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="logoutUserModal" tabindex="-1" role="dialog" aria-labelledby="logoutModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="logoutModelLabel">Logout User</h5>
        <button type="button" (click)="logoutUser()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You have been logged out successfully!</p>
        <div class="modal-footer">
          <button (click)="logoutUser()" type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="deleteSuccessModal" tabindex="-1" role="dialog" aria-labelledby="deleteSuccessModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteSuccessModelLabel">Deleted Account!</h5>
        <button type="button" (click)="deleteUser(currentUser.id)"
                class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Your account have been deleted successfully!</p>
        <div class="modal-footer">
          <button type="button" (click)="deleteUser(currentUser.id)" class="btn btn-success" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="openCartModal" tabindex="-1" role="dialog" aria-labelledby="openCartModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="openCartModelLabel" style="margin-top: 15px">Items in your cart:</h1>
        <button type="button"
                class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="position: relative">
        <div style="overflow-y: scroll; height: 400px">

          <table mdbTable mdbTableScroll class="tableStyle" *ngIf="booksInCart?.length !== 0">
            <thead>
              <tr class="tableHeadStyle">
                <th class="tableHeadElementStyle" *ngFor="let head of headElements; let i = index" scope="col">{{head}}</th>
              </tr>
            </thead>
            <tbody class="tableBodyStyle">
              <tr class="tableElementStyle" *ngFor="let book of booksInCart; let i = index">
                <th scope="row" class="idTableElement">{{i+1}}</th>
                <td class="imageTableElement"><img src="{{book.imageUrl}}" style="width: 5rem; border-radius:8px" alt="{{book.title}}"></td>
                <td class="titleTableElement">{{book.title}}</td>
                <td class="priceTableElement">{{book.price}}</td>
                <td class="countTableElement"><input class="countBookInputStyle" [(ngModel)]="book.countSize"></td>
                <td class="deleteTableElement"> <mat-icon class="deleteIconTableElement" (click)="deleteFromCart(book, currentUser)" color="warn">delete</mat-icon></td>
              </tr>
            </tbody>
          </table>

          <h1 class="bucketEmptyStyle" *ngIf="booksInCart?.length === 0">Your bucket is empty!</h1>

        </div>
        <div class="modal-footer">
          <span style="font-weight: bold" class="mr-auto" *ngIf="booksInCart?.length !== 0">
            Total price: {{getTotalCost()}} zł
          </span>
          <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>

