<div class="container" id="container">
<form #registerForm="ngForm" (ngSubmit)="registerUser()">
  <div class="form-group">
    <h1 class="registerLabel" style="color: #d9cf32">Register Panel</h1>
    <p style="color: #E1EEF7">Please fill in this form to create an account.</p>

    <hr class="hrStyle">

    <label for="username" style="color: #E1EEF7">Username</label>
    <input type="text" class="form-control" placeholder="Enter Username" name="username" id="username" required [(ngModel)]="user.username" #username="ngModel"
            [class.is-invalid]="username.invalid && username.touched">
    <div *ngIf="username.errors && (username.invalid && username.touched)">
      <small class="text-danger" *ngIf="username.errors.required">Username is required!</small>
    </div>

    <label for="email" class="registerLabel">Email</label>
    <input type="text" class="form-control" placeholder="Enter Email" name="email" id="email" [(ngModel)]="user.email" required pattern="^\S+@\S+\.\S+$"
           #email="ngModel" [class.is-invalid]="email.invalid && email.touched">
    <div *ngIf="email.errors && (email.invalid && email.touched)">
      <small class="text-danger" *ngIf="email.errors.required">Email is required!</small>
      <small class="text-danger" *ngIf="email.errors.pattern">Email pattern is invalid!</small>
    </div>

    <label for="psw" class="registerLabel">Password</label>
    <input type="password" class="form-control" placeholder="Enter Password" name="psw" id="psw" [(ngModel)]="user.password" required #password="ngModel"
           [class.is-invalid]="password.invalid && password.touched">
    <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required!</small>

    <label for="psw-repeat" class="registerLabel">Repeat Password</label>
    <input type="password" class="form-control" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" (ngModel)="user.password" required #passwordRepeat="ngModel"
           [class.is-invalid]="passwordRepeat.invalid && passwordRepeat.touched">
    <small class="text-danger" [class.d-none]="(passwordRepeat.value == password.value) || passwordRepeat.untouched">Passwords are different. They must be the same. Please try again!</small>

    <hr class="hrStyle" style="margin-top: 40px">

    <small class="successInfoStyle" *ngIf="registeredSuccess && !accountExist">You are registered successful!</small>
    <small class="successInfoStyle text-danger" *ngIf="accountExist">Account with the same username or email already exists!</small>
    <br>
    <small class="successInfoStyleSecond" *ngIf="registeredSuccess && !accountExist">Try to sign in now.</small>

    <button [disabled]="registerForm.form.invalid" type="submit" class="bookButtonsStyle">Register</button>
  </div>

  <div>
    <p style="color: #E1EEF7; margin-top: 30px">Already have an account?<a class="signInStyle" (click)="goToLoginFun()"> Sign in</a>.</p>
  </div>
</form>
</div>

<div class="modal fade" id="registerSuccessModal" tabindex="-1" role="dialog" aria-labelledby="registerSuccessModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registerSuccessModelLabel">Account created!</h5>
        <button type="button" (click)="registerButtonClick();registerForm.reset()"
                class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Your account have been created successfully!</p>
        <div class="modal-footer">
          <button type="button" (click)="registerButtonClick();registerForm.reset()" class="btn btn-success" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>
